.border {
  border-bottom: 5px solid;
  max-height: 5vH;
  overflow: hidden;
}

.flow {
  overflow: hidden;
}

.list {
  max-height: 45vH;
  overflow: hidden;
}

#symptoms {
  max-height: 45vH;
  overflow: scroll;
}

.main {
  max-height: 40vH;
  overflow: scroll;
}

.row-centered {
  text-align: center;
}
.col-centered {
  text-align: center;
}

.ribbon {
  background-color: #265a88;
  color: white;
  padding: 10px;
  width: 100%;
  max-height: 10vH;
}
